.serverstate-ServerStatePanel {
	margin: 5px;
	border-spacing: 5px;
	border: 1px solid #bbff44;
	background-color: #AFE4F4;
}

.serverstate-ServerStatePanel-state {
	padding-top: 5px;
	padding-bottom: 5px;

	font-weight: bold;
}

.serverstate-ServerStatePanel-state-stopped {
	background-color: #FF6666;
	border: 1px solid red;
	color: white;
}

.serverstate-ServerStatePanel-state-starting,
.serverstate-ServerStatePanel-state-stopping  {
	background-color: #FFAA00;
	border: 1px solid #FF6600;
	color: white;
}

.serverstate-ServerStatePanel-state-running {
	background-color: #B4E9C5;
	border: 1px solid #006600;
	color: #006600;
}
