# This is the template for the generic SLEE mangament configuration file.
#
# To configure, copy this template to slee-management.config in the same directory,
# then edit slee-management.config as follows:
# - set jmxAgentHostIP to the IP address of the machine on which the SLEE's MBeanServer runs,
#   which will usually be the same machine as the SLEE

jmxAgentHostIP   		= @LOCAL_IP@
jmxAgentPort       		= 4099
defaultTimeout     		= 20000
debugLevel         		= INFO
