/// ====================================================================== ///
//                                                                          //
//  JBoss Security Policy                                                   //
//                                                                          //
/// ====================================================================== ///

// $Id: java.policy,v 1.1 2005/11/27 18:48:37 ivelin Exp $

grant {
   // Allow everything for now
   permission java.security.AllPermission;
};
